body {
    background-color: #3b4cca;
    color: #eee;
}

a {
    color: #ffde00;
}

a:hover {
    color: #ffde00;
}

header {
    padding: 20px;
  }


header .img-container {
    margin: 30px auto;
    width: 80%;
    max-width: 500px;
}

.img-container img {
    width: 100%;
}

.hidden {
    display: none;
}


/* MODULARIZE BELOW: */

.searchBar {
    text-align: center;
    margin-bottom: 20px;
}

.searchBar input {
    margin-right: 7px;
}

.searchBar .search-field {
    margin-bottom: 20px;
}

.searchBar .radio-buttons label {
    margin-right: 2em;
}

.searchBar .radio-buttons  {
    margin: 10px;
}

.pagination {
    text-align: center;
    margin-bottom: 50px;
}

.pagination a, 
.pagination p {
    display: inline-block;
    margin: 0 10px;
}

.pagination button {
    position: relative;
    /* height: 50px;
    width: 50px; */
    /* font-size: 2em; */
    background-color: transparent;
    border: none;
    color: white;
}

.pagination button:hover {
    color: #ffde00;
    text-decoration: underline;
}

.pagination button:disabled {
    opacity: 0.5;
}

.pagination button:disabled:hover {
    color: white;
    opacity: 0.5;
    text-decoration: none;
}


.menu {
    text-align: center;
}

.about {
    text-align: center;
    font-size: 1.8em;
    width: 70%;
    margin: 0 auto;
}