body {
    background-color: #3b4cca;
    color: #eee;
}

a {
    color: #ffde00;
}

a:hover {
    color: #ffde00;
}

header {
    padding: 20px;
  }


header .img-container {
    margin: 30px auto;
    width: 80%;
    max-width: 500px;
}

.img-container img {
    width: 100%;
}

.hidden {
    display: none;
}


/* MODULARIZE BELOW: */

.searchBar {
    text-align: center;
    margin-bottom: 20px;
}

.searchBar input {
    margin-right: 10px;
}

.pagination {
    text-align: center;
    margin-bottom: 50px;
}

.pagination a, 
.pagination p {
    display: inline-block;
    margin: 0 10px;
}